<header>
	<a class="blog hover" href="https://kellyrosesinclair.tumblr.com" target="_blank" rel="noopener">
		The Blog<img src='{{ "images/blog.svg" | absURL }}'>
	</a>

	<a class="logo hover" href=' {{ .Site.BaseURL }} '>
		<img src= '{{ "images/logo.png" | absURL }}' title="Kel">
	</a>

	<div class="social-hold" >
		<a class="hover" href="https://www.instagram.com/kellehrose/" target="_blank">
			<img src='{{ "images/insta.svg" | absURL }}'>
		</a>
		<a class="hover" href="https://dribbble.com/kelly-sinclair" target="_blank">
			<img src='{{ "images/dribbble.svg" | absURL }}'>
		</a>
		<a class="hover" href="mailto:kellyrosesinclair@gmail.com" target="_blank">
			<img src='{{ "images/email.svg" | absURL }}'>
		</a>
	</div>
</header>