{{ define "main" }}
<main aria-role="main" class="{{ .Params.color }}">
	<div class="project-banner">
	  <h1 class="text-container">{{ .Title }}</h1>
	  <br>
	  <h3 class="text-container">{{ .Params.roles }}</h3>
	  <br>
	  <p class="text-container"> {{ .Description }} </p>
	</div>
<section>
	<article>
		<img src='{{ .Params.featured_image }}'/>
		<h1 class="text-container">Approach</h1>
		<br>
    	<div class="text-container">
    	{{ .Content }} 

    	{{ if .Params.siteURL }}
    	<a class="launch-button hover {{ .Params.textColor }}" href=" http://{{ .Params.siteURL }}" target="blank">
    		
    		 {{ .Params.siteURL }}
    	</a>
    	{{ end}}
    	</div>
 	</article>
 	<div class="gallery-container">
 		<div class="grid">
 			<img src= '{{ .Params.img_one }}'> 
 			<img src= '{{ .Params.img_two }}'> 
 			<img src= '{{ .Params.img_three }}'> 
 		</div>
 	</div>
 	<div class="link-container {{ .Params.textColor }}">

	 		{{ if .NextInSection }}
	 			<a class="project-links hover" href="{{.NextInSection.Permalink}}">
	 				<h3 >Previous Project</h3>
					<p> {{ .NextInSection.Title }}</p> 
				</a>
			{{ else }}
				{{ $all := ($.Site.GetPage "section" .Section).Pages.ByPublishDate.Reverse }}
				{{ range first 1 $all }}
					<a class="project-links hover" href="{{ .Permalink }}">
		 				<h3 >Previous Project</h3>
						<p >{{ .Title }}</p>
					</a>
				{{ end }}
		{{ end }}

 		{{ if .PrevInSection }}
	 		<a class="project-links hover" href="{{.PrevInSection.Permalink}}">
	 			<h3 >Next Project</h3>
				<p> {{ .PrevInSection.Title }}</p> 
			</a>
		{{ else }}
			{{ $all := ($.Site.GetPage "section" .Section).Pages.ByPublishDate }}
			{{ range first 1 $all }}
				<a class="project-links hover" href="{{ .Permalink }}">
		 			<h3 >Next Project</h3>
					<p >{{ .Title }}</p>
				</a>
	
			{{ end }}
		{{ end }}
	</div>
</section>
</main>
{{ end }}