.gallery-container {
    margin: 0 auto;
    max-width: 1180px;
    padding-top: 50px;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: start;
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  justify-items: center;

}

.grid img {
  max-width: 100%;
  opacity: 0.95;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  &:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
  }

  &:nth-child(2) {
    grid-column: span 2; 
    cursor: pointer;
  }

  &:nth-child(3) {
    grid-column: span 2;
    cursor: pointer;
  }

  &:nth-child(2):hover {
    -webkit-transform: scale3d(0.95,0.95,1);
    transform: scale3d(0.95,0.95,1);
  }

  &:nth-child(3):hover {
    -webkit-transform: scale3d(0.95,0.95,1);
    transform: scale3d(0.95,0.95,1);
  }
}

@media only screen and (max-width: 700px) {

  .grid { 
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  .grid img {

    &:nth-child(1) {
      grid-column: span 6; 
    }

    &:nth-child(2) {
      grid-column: span 3; 
      cursor: pointer;
    }

    &:nth-child(3) {
      grid-column: span 3;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 425px) {
  .gallery-container {
    padding-top: 10px;
  }
}